*.sh filter=lfs diff=lfs merge=lfs -text
/hello filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
/pk/riscv32-unknown-elf/bin/bbl filter=lfs diff=lfs merge=lfs -text
/pk/riscv32-unknown-elf/bin/dummy_payload filter=lfs diff=lfs merge=lfs -text
/pk/riscv32-unknown-elf/bin/pk filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
/spike/bin/elf2hex filter=lfs diff=lfs merge=lfs -text
/spike/bin/spike filter=lfs diff=lfs merge=lfs -text
/spike/bin/spike-dasm filter=lfs diff=lfs merge=lfs -text
/spike/bin/spike-log-parser filter=lfs diff=lfs merge=lfs -text
/spike/bin/termios-xspike filter=lfs diff=lfs merge=lfs -text
/spike/bin/xspike filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.pc filter=lfs diff=lfs merge=lfs -text
spike/*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
